version: '3.8'

services:
  melodai:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - dokploy-network
    environment:
      - HF_READ_TOKEN=${HF_READ_TOKEN}
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      - DEEZER_ARL=${DEEZER_ARL}
      - HOST=0.0.0.0
      - PORT=5000
      - DEBUG=False
      - BASE_URL=${BASE_URL:-https://melodai.logge.top}
    volumes:
      - melodai-songs:/data/songs
      - melodai-db:/data/db
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.melodai.rule=Host(`melodai.logge.top`)"
        - "traefik.http.routers.melodai.entrypoints=websecure"
        - "traefik.http.routers.melodai.tls=true"
        - "traefik.http.routers.melodai.tls.certresolver=letsencrypt"
        - "traefik.http.services.melodai.loadbalancer.server.port=5000"

networks:
  dokploy-network:
    external: true

volumes:
  melodai-songs:
  melodai-db:
