.state { min-height: 200px; align-content: center; }
.state :global(.spinner) { margin-bottom: var(--s-2); }
.error { width: calc(100% - 32px); }
.action { margin-top: var(--s-2); display: flex; flex-wrap: wrap; gap: var(--s-2); }
